.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  width: 400px;
  height: 130px;
  background-color: white;
  border-radius: 2px;
  padding: 16px;
  margin: 0 auto;
  margin-top: 156px;
}

.modal-content h3 {
  color: #FE8065;
  margin: 0;
  font-size: 18px;
}

.modal-content p {
  color: #585656;
  font-size: 16px;
}

.modal-overlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(65, 65, 65, 0.45);
}